@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    background-color: #F5F6FA;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

content {
    height: 100%;
    overflow: hidden;
    float: right;
    background-color: #F5F6FA;
    padding-left: 44px;
    padding-top: 28px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.dashboardCardTitle {
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.dashboardTopContainer{
    height: 315px;
    width: -webkit-calc(100% - 49px);
    background-color: white;
    border-radius: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* # Card Header # */
.cardHeaderTypeOne {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.dashboardCardHeaderTypeTwo {
    height: 80px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #18B283;
    display: flex;
    align-items: center;
}

.dashboardTopChartContainer{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 70px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.dashboardBottomContainer {
    height: 350px;
    width: -webkit-calc(100% - 49px);
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 20px;
    margin-top: 20px;
}

.dashboardInnerContainer{
    padding: 20px;
}

.dashboardNutritionContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.dashboardNutritionBreakdownContent {
    padding-bottom: 10px;
    padding-top: 5px;
}

.dashboardExerciseContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.dashboardBottomChartContainer {
    width: 90%;
    height: 100%;
    margin-left: 45px;
    padding-right: 30px;
    background-color: #fff;
    flex-direction: column;
}