@tailwind base;
@tailwind components;
@tailwind utilities;


.charts {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 510px !important;
    width: 1500px !important;
}

.chart {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    margin: 1rem;
    /* height: 650px;
    width: 1250px; */
}



.chart-label {
    color: #22c393;
    text-align: left;
    margin: 0;
    text-decoration: underline;
    font-weight: bold;
}

.nutrition-breakdown {
    /* position: absolute; */
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 350px;
    width: 1350px;
}