@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    background-color: #F5F6FA;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

testSection {
    background-color: #F5F6FA;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

content {
    height: 100%;
    overflow: hidden;
    float: right;
    background-color: #F5F6FA;
    padding-left: 44px;
    padding-top: 28px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

rightBar {
    height: 100vh;
    width: 260px;
    order: 3;
    background-color: pink;
}

titleContainer {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    font-family: emoji;
}

foodLogContainer {
    height: 45%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-left: 22px;
    padding-right: 22px;
}

foodLogSection {
    height: 75%;
    background-color: #F5F6FA;
    width: 15%;
}