#sidebar {
    position: fixed;
    top: 0%;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: #333;
    color: #fff;
}

.navContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#sidebar li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
  
#sidebar li a:hover {
    background-color: #18B283;
}