@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    flex-direction: row;
    background-color: #F5F6FA;
}

content {
    height: 100%;
    width: -webkit-calc(100% - 325px);
    overflow: hidden;
    float: right;
    order: 2;
}

/* General */
.titleContainer {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    font-family: emoji;
}
.cardHeader {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.cardHeaderTypeTwo {
    height: 80px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #18B283;
    display: flex;
    align-items: center;
}
.cardHeaderTypeThree {
    height: 40px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #18B283;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTitle {
    font-weight: bold;
    font-size: 25px;
}
.cardTitleTypeTwo {
    font-weight: bold;
    font-size: 20px;
}
/* Top Container */
.sleepLogContainer {
    height: 355px;
    width: -webkit-calc(100% - 49px);
    background-color: white;
    border-radius: 15px;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-direction: column;
}
/* # Status Bar + Sleep Bar Chart # */
.statusContainer {
    height: 380px;
    width: -webkit-calc(100%);
    flex-direction: column;
    display: flex;
}
/* ## Status Bar ## */
.statusContent {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
    height: 95px;
}
/* ### Sleep Log Section ### */
.sleepLogSection {
    height: 100%;
    background-color: #97dcc7;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
/* #### Sleep Label #### */
.sleepLabel {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #### sleep Score #### */
.sleepScore {
    font-weight: bold;
    font-size: 3.0rem;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #### sleep Time #### */
.sleepTime {
    font-weight: bold;
    font-size: 2.0rem;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ## Sleep Bar Chart ## */
.sleepBarChart {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
}

/* Bottom Container */
.sleepBottomContent {
    height: 300px;
    width: -webkit-calc(100% - 49px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
}
.sleepData {
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.sleepDataTitle {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
    height: 80px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #18B283;
    display: flex;
    align-items: center;
}

/* # Line Chart # */
.sleepLineChart {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

input {
    float: right;
    padding-right: 20px;
    text-align: left;
}

.sleep-info p,
.sleep-info p:before {
  display: inline;
  margin: 10px;
  font-weight: 200;
}
.scrollable-sleeps {
    max-height: 210px;
    overflow-y: auto;
}
.scrollable-sleeps::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.sleep-cards {
    background: #fff;
    border-radius: 4px;
    margin: 10px auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.sleep-cards h4 {
    font-weight: 800;
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #18B283;
}
.sleep-cards p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
.sleep-cards span {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: small;
    cursor: pointer;
    background-color: white;
    color: #18B283;
    padding: 6px;
    border-radius: 10%;
    border: 2px solid #97dcc7;
}
.sleep-input input {
    margin-bottom: 1.5rem/* 24px */;
    border-width: 2px;
    width: 100%;
    border-radius: 5px;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}
input.error {
    border: 1px solid #e7195a;
    margin-bottom: 1.5rem/* 24px */;
    border-width: 2px;
    width: 100%;
    border-radius: 5px;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}