<!DOCTYPE html>

<html>
    <head>
        <%- include('../_partial/_header'); %>
        <meta charset="UTF-8">
        <title>LyfeON Nutrition Page</title>
    </head>

    <body>
        <h1>Nutrition Page</h1>
    </body>
</html>

<%- include('../_partial/_footer'); %>