@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    background-color: #F5F6FA;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

content {
    height: 100%;
    overflow: hidden;
    float: right;
    background-color: #F5F6FA;
    padding-left: 44px;
    padding-top: 28px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

/* Title */
.titleContainer {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    font-family: emoji;
}

/* Top Container */
.exerciseLogContainer {
    height: 200px;
    width: -webkit-calc(100% - 49px);
    background-color: white;
    border-radius: 15px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
}
/* # Card Header # */
.cardHeader {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.cardHeaderTypeTwo {
    height: 80px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #18B283;
    display: flex;
    align-items: center;
}
.cardHeaderTypeThree {
    height: 50px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #18B283;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTitle {
    font-weight: bold;
    font-size: 25px;
}
.cardTitleTypeTwo {
    font-weight: bold;
    font-size: 20px;
}
/* # Inner Container # */
.innerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 100%;
}
/* ## Card content ## */
.exerciseLogSection {
    height: 100%;
    background-color: #97dcc7;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
/* ### Summary Label ### */
.exerciseLabel {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ### Exercise Display ### */
.exerciseDisplay {
    font-weight: bold;
    font-size: 2.8rem;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Bottom Container */
.activityContent {
    height: 450px;
    width: -webkit-calc(100% - 49px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
}
/* # Activity # */
.activityContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

/* ## Activity Title ## */
.activityTitleText {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}

/* # Chart # */
.chartContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.exercise-info p,
.exercise-info p:before {
  display: inline;
  margin: 10px;
  font-weight: 200;
}

.fixed-width {
    width: 100px; 
  }
  
.fixed-height {
    height: 50px; 
}  
.scrollable-exercises {
    max-height: 350px;
    overflow-y: auto;
}
.scrollable-exercises::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.exercise-cards {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.exercise-cards h4 {
    font-weight: 800;
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #18B283;
}
.exercise-cards p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
.exercise-cards span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    cursor: pointer;
    background-color: white;
    color: #18B283;
    padding: 6px;
    border-radius: 10%;
    border: 2px solid #97dcc7;
}
.exercise-input input {
    margin-bottom: 1.5rem/* 24px */;
    border-width: 2px;
    width: 100%;
    border-radius: 5px;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}
input.error {
    border: 1px solid #e7195a;
    margin-bottom: 1.5rem/* 24px */;
    border-width: 2px;
    width: 100%;
    border-radius: 5px;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}
.react-calendar__tile:disabled {
    background-color: black;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    border-radius: 5px;
}
.react-calendar__tile--now {
    border-radius: 5px;
    background: #18B283;
}
.react-calendar__tile--now abbr {
    color: white;
  }
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #97dcc7;
}
.react-calendar__tile--hasActive {
    background: #97dcc7;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #97dcc7;
}
.react-calendar__tile--active abbr{
    color: black;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: white;
    color: white;
    border-radius: 5px;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
